RewriteEngine On
RewriteBase /

# Ne pas rediriger si le fichier existe
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rediriger toutes les autres requêtes vers index.html
RewriteRule . /index.html [L]